<input type="hidden" id="country" value="<%= params[:country] %>">
<div class="text-center" id="information">
  <%- if current_user.present? %>
  <%- if @submission.present? %>
  <input type="hidden" id="silk_identifier" value="<%= @submission.silk_identifier %>">
  <input type="hidden" id="submission_id" value="<%= @submission.id %>">
  <input type="hidden" id="section" value="<%= @section %>">
  <%- end %>
  <!-- choose_country -->
  <div class="row text-left form" id="choose_country">
        
    <div class="col-md-4">
      <h4>Please elect the <b>section</b> to edit</h4>
      <div class="form-group">

        <div class="text-left" id="sidenav">
          <a href="#" class="next labeled" data-target="c_overview">Overview</a><br>
          <a href="#" class="next labeled" data-target="c_startup_ecosystem">Startup Eco-System</a><br>
          <a href="#" class="next labeled" data-target="c_opportunities">Opportunities</a><br>
          <a href="#" class="next labeled" data-target="c_controversies">Controversies</a><br>
          <a href="#" class="next labeled" data-target="c_culture">Cultural Awareness</a><br>
          <a href="#" class="next labeled" data-target="c_establishing">Establishing Your Startup</a><br>
          <a href="#" class="next labeled last" data-target="c_advice">Advice</a>
        </div>
      </div>
    </div>
        
    <div class="col-md-8 lead">
      <div class="waiter hide fade out" data-loader>
        <div class="jumbotron-icon">
          <span class="fa fa-3 fa-magic"></span>
        </div>
        <div>Please wait...</div>
      </div>

<!-- information_form -->
      <div class="text-left hide form" id="information_form">
        <h4>Edit <span data-section>Overview</span></h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <textarea rows="12" class="form-control markdown-data" id="txa_information_content" name="txa_information_content"><%= URI.decode(ActiveSupport::JSON.decode(@submission.content)['body']) if @submission.present? %></textarea>
            </div>
          </div>
          
          <div class="panel-footer text-right">
          
            <%- if @submission.present? %>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#mdl_reject" data-id="<%= @submission.id %>">Reject <i class="glyphicon glyphicon-remove-circle"></i></a>
            <%- end %>
            
            <a href="#" class="btn btn-primary" id="btn_update_information"><%= @submission.present? ? "Approve" : "Submit"%> <i class="glyphicon glyphicon-upload"></i></a>
            
          </div>
          
        </div>
      </div>
<!-- end of information_form -->

    </div>
      
  </div>
  <!-- end choose_country -->
  
  
  <div class="col-md-6 col-md-offset-3 text-left hide" id="thanks">
    <h4>Thanks! <small>Moderation time.</small></h4>
    
    
    <p>
      Add more:
      <ul class="text-left">
        <li><a href="#" data-target="add_startup">Startups</a>?</li>
        <li><a href="#" data-target="add_investor">Investors</a>?</li>
        <li><a href="#" data-target="add_community">Communities</a>?</li>
      </ul>
    </p>
  </div>
  
  <div class="col-md-6 col-md-offset-3 text-right">
    <% else %>
    <%= link_to "Sign In", new_user_session_url %>
    <%- end -%>
  </div>
</div>
