  <div class="row form" id="starting_point">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <p class="lead">
        Hi <%= current_user.identities.first.first_name %>!
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Latest changes</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
          <%-
            @submissions.each_with_index do |submission,i|
              contents = ActiveSupport::JSON.decode(submission.content)
              html_body = ''
              if contents["comments"].present?
                html_body = simple_format(URI.decode(contents["comments"]))
              end
              
              tags = contents["tags"]
              country = ''
              category = ''
              city = ''
              if tags.present?
                tags.each do |tag|
                  country = URI.decode(tag["country"]) if tag["country"].present?
                  category = URI.decode(tag["collection"]) if tag["collection"].present?
                  city = URI.decode(tag["city"]) if tag["city"].present?
                end
              end
              
              country,collection,title = submission.silk_identifier.split(':')
              article = contents["body"]
              verify_entry_url = "/verify-entry?silk_identifier=#{submission.silk_identifier}"
              verify_entry_url = "/information/#{submission.country}?i=#{submission.id}&s=#{submission.silk_identifier}" if collection.nil?
              
          %>
            <a class="list-group-item" href="<%= verify_entry_url %>">
              <h6><%= collection.present? ? title : URI.decode(country) %> <small><%- if collection.present? %>A <%= collection.singularize %> in the <%= country %><%- end %> &mdash; <%= submission.user.email %></small> <i class="text-primary pull-right glyphicon glyphicon-chevron-right"></i></h6>
            </a>
          <%- end %>
          </div>
        </div>
                
        <div class="panel-footer">
          <div class="row">
            <div class="text-left col-md-6">
              <%= link_to root_url, class: "text-left", data: {no_turbolink: true} do %>
                <i class="glyphicon glyphicon-chevron-left"></i> Back to main page
              <%- end %>
            </div>
            <div class="text-right col-md-6">
              <%= link_to destroy_user_session_url, method: :delete, class: "text-right" do %>
                Sign Out <i class="glyphicon glyphicon-log-out"></i>
              <%- end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="modal fade" id="mdl_reject">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Reject Submission</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="data_id" value="">
        <div class="form-group">
          <label for="body_why">Why?</label>
          <textarea class="form-control" rows="5" id="body_why"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_submit_reason" type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-send"></i> Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->