<input type="hidden" id="silk_identifier" name="silk_identifier" value="<%= params['silk_identifier'] %>">
  <div class="row form" id="starting_point">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <p class="lead">
        Hi <%= current_user.identities.first.first_name %>!
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Pending entries for <%= @submissions.first.silk_identifier %></h3>
        </div>
        <div class="panel-body">
          <%-
            first_article = ''
            converted_tags = Hash.new
            available_tags = []
            first_tags = []
            @submissions.each_with_index do |submission,i|
              contents = ActiveSupport::JSON.decode(submission.content)
              html_body = ''
              if contents["comments"].present?
                html_body = simple_format(URI.decode(contents["comments"]))
              end
              
              tags = contents["tags"]
              converted_tags = Hash.new
              available_tags = ['category']

              tags.each do |tag|
                tag.each_key do |key|
                  converted_tags[key] = URI.decode(tag[key])
                  available_tags.push key unless key.eql?('category')
                end
              end
              first_tags = converted_tags if first_tags.blank?

              title = submission.silk_identifier
              first_title = title unless title.present?
              
              article = contents["body"]
              first_article = article unless first_article.present?
          %>

          <div class="callout callout-warning">
            <h4>Submitted by <%= submission.user.identities.first.first_name %></h4>
            <input type="hidden" id="silk_category" value="<%= converted_tags['category'] %>">


            <div class="row">
              <% available_tags.each_with_index.reject {|tag,i| ["title","category","Mobile%20Market%20Saturation%20Color","Market%20Saturation%20Color"].include?(tag)}.each do |tag,i| %>
              <%- if ['Local Players','Address (If Applicable)'].include?(URI.decode(tag).titleize) %>
              <div class="clearfix"></div>
              <div class="col-md-12">
              <%- else %>
              <div class="col-md-<%= ["opportunities"].include?(converted_tags['category']) ? 4 : 3 %>">
              <%- end %>
                <div class="form-group">
                  <label><%= URI.decode(tag).titleize %></label>
                  <div class="input-group" data-key="<%= URI.decode(tag).downcase.gsub(" ","_") %>">
                    <%- if ["Local Players",'Address (If Applicable)'].include?(URI.decode(tag).titleize) %>
                    <textarea rows="4" class="form-control"><%= converted_tags[tag] %></textarea>
                    
                    <%- else %>
                    <input type="text" class="form-control input-sm" value="<%= converted_tags[tag] %>">
                    <%- end %>
                    
                    <a href="#" class="picker input-group-addon"><i class="glyphicon glyphicon-unchecked"></i></a>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Content</label>
                  <textarea class="form-control" rows="4"><%= article %></textarea>
                </div>
              </div>
            </div>
            
            <div class="text-right">
              <button type="button" class="btn btn-danger btn-reject btn-xs" data-reject-id="<%= submission.id %>">
                <i class="glyphicon glyphicon-remove"></i> Reject
              </button>
            </div>
          </div>

          <%- end %>

          <div class="callout callout-info">
            <h4>Final</h4>
            
            <div class="row">
              
              <% available_tags.each_with_index.reject {|tag,i| ["title","category","Mobile%20Market%20Saturation%20Color","Market%20Saturation%20Color"].include?(tag)}.each do |tag,i| %>
              <%- if ['Local Players','Address (If Applicable)'].include?(URI.decode(tag).titleize) %>
              <div class="clearfix"></div>
              <div class="col-md-12">
              <%- else %>
              <div class="col-md-<%= ["opportunities"].include?(first_tags['category']) ? 4 : 3 %>">
              <%- end %>
                <div class="form-group">
                  <label><%= URI.decode(tag).titleize %></label>
                  <%- if ["Local Players",'Address (If Applicable)'].include?(URI.decode(tag).titleize) %>
                  <textarea rows="4" class="form-control" id="<%= URI.decode(tag).downcase.gsub(" ","_") %>"><%= first_tags[tag] if first_tags[tag].present? %></textarea>
                  
                  <%- else %>
                  <input type="text" class="form-control input-sm" id="<%= URI.decode(tag).downcase.gsub(" ","_") %>" value="<%= first_tags[tag] if first_tags[tag].present? %>">
                  
                  <%- end %>
                </div>
              </div>
              <% end %>
              
            </div>
            
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Content</label>
                  <textarea class="markdown-data form-control" rows="4"><%= first_article if first_article.present? %></textarea>
                </div>
              </div>
            </div>
            
            <div class="text-right">
              <button type="button" id="btn_silk_submit" class="btn btn-primary" data-disable-with="Please wait...">Submit to Silk <i class="glyphicon glyphicon-send"></i></button>
            </div>
          </div>

        </div>
                
        <div class="panel-footer">
          <div class="text-right">
            <%= link_to destroy_user_session_url, method: :delete, class: "text-right" do %>
              Sign Out <i class="glyphicon glyphicon-log-out"></i>
            <%- end %>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="modal fade" id="mdl_reject">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Reject Submission</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="data_id" value="">
        <div class="form-group">
          <label for="body_why">Why?</label>
          <textarea class="form-control" rows="5" id="body_why"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_submit_reason" type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-send"></i> Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->