<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>World Startup Wiki Moderator Tool</title>
  <%= twitter_bootstrap_stylesheet_link_tag :netdna, force: true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
</head>

<body>

<!-- view -->
<div class="container">
  <div id="site_alert">
  <%- if notice.present? %>
    <div class="notice alert alert-warning"><%= notice %></div>
  <%- end %>
  <%- if alert.present? %>
    <div class="alert alert-info"><%= alert %></div>
  <%- end %>
  </div>
  
  <%= yield %>
</div>

<!-- end of view -->

  <%= include_jquery env: :production %>
  <%= twitter_bootstrap_javascript_include_tag :netdna, force: true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>

</html>